*{
    margin: 0 ;
    padding: 0 ;
}

.top-bar{
    background-color: rgb(3, 94, 146) ;
    height :7vh; 
    width :100vw;
    box-shadow: 1px 1px 5px grey ;
}

.top-bar .icon{
    height :30px;
    width :30px;
    margin : 0.5vw;
}

.top-bar .icon:hover{
    cursor: pointer;
}

.top-bar .input{
    position: absolute;
    top : 8px;
    left :50px;
    height : 25px;
    border :none;
    box-shadow: 2px 2px 10px grey ;
    width :300px;
    padding-left :10px;
    font-weight :bold ;
    
}
